<br>
<br>
<br>
<form action="" class="formulario">
    <h1 class="formulario__titulo">Registro</h1>
    <h3>Nombre</h3>
    <input type="text" class="formulario__input" placeholder="Ingrese su nombre">
    <h3>Apellidos</h3>
    <label for="" class="formulario__label"></label>
    <input type="text" class="formulario__input" placeholder="Ingrese sus  apellidos">
    <h3>Direccion</h3>
    
    <input type="text" class="formulario__input" placeholder="Ingrese su dirreccion">
    <label for="" class="formulario__label"></label>
    <h3>Telefono</h3>
    <input type="text" class="formulario__input" placeholder="Ingrese su correo electronico">
    <label for="" class="formulario__label"></label>
    <h3>Correo</h3>
    <input type="email" class="formulario__input" placeholder="Ingrese su correo">
    <label for="" class="formulario__label"></label>
    <h3>Contraseña</h3>
    <input type="password" class="formulario__input" placeholder="Ingrese una contraseña">
    <label for="" class="formulario__label"></label>
    <h3>Validacion de Contraseña</h3>
    <input type="password" class="formulario__input" placeholder="Repita su contraseña">
    <label for="" class="formulario__label"></label>
    
    <input type="submit" class="formulario__submit">
  </form>
  <br>
  <br>
